table{
    width: 100%;
}

.pageTitle{
    color: #56badb;
} 

.searchBooksContainer{
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    width: 50%;
    margin-bottom: 20px;
}
.returnBookIcon{
    cursor: pointer;
}