.footer{
    position: absolute;
    bottom: 0;
    background: #4A90E2;
    width: 100%;
}

.header{
    background: #4A90E2 !important;
}

.appContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
}
.appContentInner{
    margin-top: 20px;
}

