.pageTitle{
    color: #56badb;
}

.deleteStudentIcon{
    cursor: pointer;
}

.searchBooksContainer{
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    width: 50%;
    margin-bottom: 20px;
}