
<div class="container">
  
  <div class="tab-content mt-3" id="loginTabsContent">

    <ul class="nav nav-tabs" id="loginTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          [class.active]="currentTab === 'admin'"
          id="admin-tab"
          data-bs-toggle="tab"
          role="tab"
          aria-controls="admin"
          (click)="changeLogin('admin')"
        >
          Admin Login
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          [class.active]="currentTab === 'student'"
          id="student-tab"
          data-bs-toggle="tab"
          role="tab"
          aria-controls="student"
          (click)="changeLogin('student')"
        >
          Student Login
        </a>
      </li>
    </ul>

    <div class="tab-pane fade show active loginContainer" id="admin" role="tabpanel" aria-labelledby="admin-tab">
      <form class="login-form">
        <h3 *ngIf="isAdmin" class="pageTitle">Login as Admin</h3>
        <h3 *ngIf="!isAdmin" class="pageTitle">Login as Student</h3>
        <div class="form-group customInput">
          <label *ngIf="isAdmin" for="adminEmail">Admin Username</label>
          <label *ngIf="!isAdmin" for="adminEmail">Student username</label>
          <input *ngIf="isAdmin" name="email" type="email" placeholder="Enter username" [(ngModel)]="email" class="form-control" id="adminEmail"
            aria-describedby="emailHelp">
            <input *ngIf="!isAdmin" name="studentId" type="text" placeholder="Enter username" [(ngModel)]="studentId" class="form-control" id="studentId"
            aria-describedby="studentId">
        </div>
        <div class="form-group customInput">
          <label for="adminPassword">Password</label>
          <input name="password" type="password" placeholder="Enter password" [(ngModel)]="password" class="form-control" id="adminPassword">
        </div>
        <small class="text-danger" *ngIf="errorMsg.length > 0">{{errorMsg}}</small>
        <button type="submit" class="btn btn-primary mt-3" (click)="login()" [disabled]="isAdmin ? (!email || !password) : (!studentId || !password)">Submit</button>
      </form>
    </div>
  </div>
</div>
