<!-- <form class="login-form">
  <h3 class="pageTitle">Login as Admin</h3>
  <div class="form-group customInput">
    <label for="exampleInputEmail1">Username</label>
    <input name="email" type="email" [(ngModel)]="email" class="form-control" id="exampleInputEmail1"
      aria-describedby="emailHelp">
  </div>
  <div class="form-group customInput">
    <label for="exampleInputPassword1">Password</label>
    <input name="password" type="password" [(ngModel)]="password" class="form-control" id="exampleInputPassword1">
  </div>
  <small class="text-danger" *ngIf="errorMsg.length > 0">{{errorMsg}}</small>
  <button type="submit" class="btn btn-primary mt-3" (click)="login()" [disabled]="!email || !password">Submit</button>
</form> -->

<div class="container">
  
  <div class="tab-content mt-3" id="loginTabsContent">

    <ul class="nav nav-tabs" id="loginTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="admin-tab" data-bs-toggle="tab" role="tab" aria-controls="admin" (click)="changeLogin('admin')" aria-selected="true">Admin Login</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="student-tab" data-bs-toggle="tab" role="tab" aria-controls="student" (click)="changeLogin('student')" aria-selected="false">Student Login</a>
      </li>
    </ul>


    <div class="tab-pane fade show active" id="admin" role="tabpanel" aria-labelledby="admin-tab">
      <form class="login-form">
        <h3 *ngIf="isAdmin" class="pageTitle">Login as Admin</h3>
        <h3 *ngIf="!isAdmin" class="pageTitle">Login as Student</h3>
        <div class="form-group customInput">
          <label *ngIf="isAdmin" for="adminEmail">Admin Username</label>
          <label *ngIf="!isAdmin" for="adminEmail">Student username</label>
          <input name="email" type="email" [(ngModel)]="email" class="form-control" id="adminEmail"
            aria-describedby="emailHelp">
        </div>
        <div class="form-group customInput">
          <label for="adminPassword">Password</label>
          <input name="password" type="password" [(ngModel)]="password" class="form-control" id="adminPassword">
        </div>
        <small class="text-danger" *ngIf="errorMsg.length > 0">{{errorMsg}}</small>
        <button type="submit" class="btn btn-primary mt-3" (click)="login()" [disabled]="!email || !password">Submit</button>
      </form>
    </div>

    <!-- Student Login Tab -->
    <!-- <div *ngIf="!isAdmin" class="tab-pane fade" id="student" role="tabpanel" aria-labelledby="student-tab">
      <form class="login-form">
        <h3 class="pageTitle">Login as Student</h3>
        <div class="form-group customInput">
          <label for="studentEmail">Username</label>
          <input name="email" type="email" [(ngModel)]="studentId" class="form-control" id="studentEmail"
            aria-describedby="emailHelp">
        </div>
        <div class="form-group customInput">
          <label for="studentPassword">Password</label>
          <input name="password" type="password" [(ngModel)]="password" class="form-control" id="studentPassword">
        </div>
        <small class="text-danger" *ngIf="errorMsg.length > 0">{{errorMsg}}</small>
        <button type="submit" class="btn btn-primary mt-3" (click)="login('student')" [disabled]="!email || !password">Submit</button>
      </form>
    </div> -->
  </div>
</div>
