.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customInput{
    width: 100%;
}

.pageTitle{
    color: #56badb;
}

#loginTabsContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#admin-tab{
    cursor: pointer;
}

#student-tab{
    cursor: pointer;
}