<h2 mat-dialog-title *ngIf="for==='bookInfo'">Book Details</h2>
<h2 mat-dialog-title *ngIf="for==='fileInfo'">File Details </h2>

<mat-dialog-content *ngIf="for==='bookInfo'">
  <div class="book-details">
    <div class="bookRow">
        <p><strong>Book Name:</strong> {{ bookForInfo.bookName }}</p>
    </div>
    <div class="bookRow">
        <p><strong>Author:</strong> {{ bookForInfo.author }}</p>
    </div>
    <div class="bookRow">
        <p><strong>ISBN:</strong> {{ bookForInfo.isbn }}</p>
    </div>
    <div class="bookRow">
        <p><strong>Total Books:</strong> {{ bookForInfo.total }}</p>
    </div>
    <div class="bookRow">
        <p><strong>Assigned Books:</strong> {{ bookForInfo.assigned }}</p>
    </div>
    <div class="bookRow">
        <p><strong>Available Books:</strong> {{ bookForInfo.available }}</p>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-content *ngIf="for==='fileInfo'">
  <span class="text-danger mb-3" >Make sure your file contains all the columns with values.</span>
  <div class="file-details mb-2">
    <img src="sample-excel.png?v=1" alt="Sample Book Excel Format">
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="btn btn-secondary mb-4" mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
